# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Alembic cache
alembic/__pycache__/

# Environment
.env

# Uploads
uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml