<!DOCTYPE html>

<html>

<head>

    <style>

        body{

            font-family: Arial;

            background:#f5f5f5;

            padding:40px;

        }

        .card{

            background:white;

            padding:30px;

            border-radius:10px;

        }

        h1{

            color:#2563eb;

        }

        p{

            font-size:16px;

        }

    </style>

</head>

<body>

<div class="card">

<h1>Welcome to SkillSwap 🎉</h1>

<p>

Hi,

</p>

<p>

Your account has been created successfully.

</p>

<p>

Start Learning.<br>

Start Teaching.<br>

Start Growing.

</p>

<br>

<p>

Regards,

<br>

<b>SkillSwap Team</b>

</p>

</div>

</body>

</html>